.navbar {
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}
.nav-menu {
    position: absolute; /* Thêm thuộc tính position: absolute */
    top: 100%; /* Điều chỉnh vị trí xuất hiện của dropdown menu */
    left: 0;
    width: 100%;
    height: 121px;
}
